<!-- gallery page -->
<div class="pageWraper" ng-controller="galleryCtrl as ctrl">
	<div class="row">
		<!-- side navbar -->
	  <div class="col-sm-3">
			<uib-accordion close-others="true" tooltip-enable = {{ttenable}} tooltip-placement = "top-right" uib-tooltip = "select a gallery to view">

				<!-- Scrapbook gallery -->
				<uib-accordion-group ng-repeat = "item in labels" is-open="status.open" >
					<uib-accordion-heading>
						{{item.header}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
					</uib-accordion-heading>
					<ul>
						<!-- Generate list of links from items in DropDown list -->
						<li ng-repeat= "subitem in item.subcats" ><a ng-click="onGalleryClick(subitem, item.header)"> {{subitem.title}} </a></li>
					</ul>
				</uib-accordion-group>
			</uib-accordion>
		</div>
		<div class="col-sm-9">
			<!-- Main content goes here -->
			<div>
				<h1>{{title}}</h1>
				<ng-gallery images="ctrl.images" thumbs-num="15"></ng-gallery>
			</div>
		</div>
	</div>
</div>
